<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>



<div th:each="orders : ${orders}">
  <a th:href="@{/orders/{id}(id=${person.getId()})}"
     th:text="${orders.getName() + ' ' + orders.getLastname() + ', ' + orders.getAge() + 'y.o., ' + orders.getPurchase + ', ' + orders.getCount() + 'ea,' + orders.getAmount() + 'total price, ' + order.getPurchaseDate().getDateFormat() }">order</a>
</div>

<br/>
<hr/>

<a href="/orders/new">Добавить заказ</a>

</body>
</html>